.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex-grow: 1;
  // background-color: coral;
}

.container {
  max-width: var(--container-body);
  margin: 0 auto;
  // background-color: rgb(183, 255, 0);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 100px;
}
